* {
  box-sizing: border-box;
}
body {
  height: 670px;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  color: #333;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
}
.fade2 {
  animation-name: fade;
  animation-duration: 1.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.98;
  }
}
.open-btn {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  padding: 0 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  background-color: #fff;
  color: #1976d2;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-sizing: border-box;
  cursor: pointer;
}
.open-btn:hover {
  opacity: .9;
  color: #6e6e6e;
}
.background-sky {
  background-color: #1976d2;
  background: linear-gradient(145deg, #1488cc, #1976d2);
  color: #fff;
}
.hero {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  overflow: hidden;
  top: 0px;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
}
.hero-headline {
  text-align: center;
  position: relative;
  z-index: 3;
  font-size: 40px;
  line-height: 64px;
  font-weight: 500;
  margin: 32px 0;
  color: #fff;
}
.open {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 350px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
}
.open-close {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 350px;
  height: 100px;
  margin: 0 auto;
  margin-top: -100px;
}
#close-btn {
  display: none;
}
.main {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  max-width: 1170px;
  overflow: hidden;
}
.main-info {
  z-index: 2;
  display: none;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 550px;
  min-height: 400px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}
.main-info .name,
.main-info .budget,
.main-info .goods,
.main-info .items,
.main-info .employers,
.main-info .discount,
.main-info .isopen {
  font-size: 16px;
  width: 40%;
  margin-top: 10px;
  min-height: 40px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.main-info .name-value,
.main-info .budget-value,
.main-info .goods-value,
.main-info .items-value,
.main-info .employers-value,
.main-info .discount-value,
.main-info .isopen-value {
  text-align: center;
  font-size: 16px;
  width: 48%;
  margin-top: 10px;
  min-height: 40px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.main-info .logo {
  overflow: hidden;
  margin-top: 50px;
  max-height: 100px;
  width: 100%;
  text-align: center;
}
.main-info .logo img {
  max-height: 100px;
  margin: auto;
}
.main-info .isopen-value,
.main-info .discount-value {
  background: #FF464C;
}
.main-functions {
  display: none;
  opacity: .98;
  z-index: 2;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 550px;
  min-height: 400px;
  color: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 16px;
  background-color: #2F2F2F;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
  box-sizing: border-box;
  transition: all 0.3s ease-in;
}
.main-functions .choose-goods,
.main-functions .choose-items,
.main-functions .time,
.main-functions .count-budget,
.main-functions .hire-employers,
.main-functions .discount-system {
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
}
.main-functions .discount-system-btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.main-functions .goods-item {
  display: inline-block;
  margin: 0 auto;
  font-size: 16px;
  background: none;
  margin-top: 10px;
  padding-left: 10px;
  width: 49%;
  height: 25px;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.main-functions .goods-item:focus {
  background: none;
  border-bottom: 1px solid rgba(25, 118, 210, 0.7);
  outline: none;
  color: #fff;
  text-shadow: none;
}
.main-functions .goods-item-btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border: none;
  color: #fff ;
  background-color: rgba(25, 118, 210, 0.7);
  padding: 5px 15px;
  background-color: #1976d2;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  cursor: pointer;
}
.main-functions .goods-item-btn:hover {
  color: rgba(255, 255, 255, 0.7);
  opacity: .9;
}
.main-functions .goods-item-btn:disabled {
  opacity: .7;
  background-color: rgba(255, 255, 255, 0.12);
}
.main-functions .choose-item,
.main-functions .time-value,
.main-functions .count-budget-value {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;
  width: 70%;
  height: 25px;
  font-size: 16px;
  background: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.main-functions .choose-item:focus,
.main-functions .time-value:focus,
.main-functions .count-budget-value:focus {
  background: none;
  border-bottom: 1px solid rgba(25, 118, 210, 0.7);
  outline: none;
  color: #fff;
  text-shadow: none;
}
.main-functions .count-budget-btn {
  margin: 0 auto;
  margin-top: 10px;
  border: none;
  color: #fff !important;
  background-color: rgba(25, 118, 210, 0.7);
  padding: 5px 15px;
  background-color: #1976d2;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  cursor: pointer;
}
.main-functions .count-budget-btn:hover {
  opacity: .9;
  color: rgba(255, 255, 255, 0.7);
}
.main-functions .count-budget-btn:disabled {
  opacity: .7;
  background-color: rgba(255, 255, 255, 0.12);
}
.main-functions .time-value {
  width: 30%;
}
.main-functions .count-budget-value {
  width: 30%;
  display: inline-block;
  margin-left: 25%;
}
.main-functions .hire-employers-item {
  font-size: 16px;
  background: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;
  width: 49%;
  height: 25px;
}
.main-functions .hire-employers-item:focus {
  background: none;
  border-bottom: 1px solid rgba(25, 118, 210, 0.7);
  outline: none;
  color: #fff;
  text-shadow: none;
}
.main-functions .hire-employers-btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border: none;
  color: #fff !important;
  background-color: rgba(25, 118, 210, 0.7);
  padding: 5px 15px;
  background-color: #1976d2;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  cursor: pointer;
}
.main-functions .hire-employers-btn:hover {
  opacity: .9;
  color: rgba(255, 255, 255, 0.7);
}
.main-functions .hire-employers-btn:disabled {
  opacity: .7;
  background-color: rgba(255, 255, 255, 0.12);
}
